.carousel-item {
  height: 90vh;
}
.card {
box-shadow:#FDAB9F 0px 5px 8px;
}
.footer-cta {
box-shadow: #FDAB9F 0px 5px 15px;
}
.price {
color: #FDAB9F;
font-size: 24px;
}

.card-title {
color:#595a61
}

.sale {
color:#FDAB9F
}

.sale-badge {
background-color: #FDAB9F
}
